<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riverside.skeleton.android.widget">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".activity.FullImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.CommonWebActivity"
            android:process=":web"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".commonselect.CommonSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>
