<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riverside.skeleton.android">

    <application
        android:name=".application.MyApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:name">

        <activity
            android:name=".MainActivity_"
            android:screenOrientation="portrait"
            android:windowFullscreen="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="${applicationId}.LOGIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BaseMainActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NetMainActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WidgetMainActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basetest.MultipleFinishActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basetest.RxBusActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basetest.ValidateActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widgettest.CheckableLinearLayoutActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widgettest.CompleteListViewActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widgettest.CaptchaViewActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widgettest.ImageGridViewActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widgettest.RefreshListViewActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widgettest.RefreshGridViewActivity_"
            android:screenOrientation="portrait" />
    </application>
</manifest>
